{% if objects.paginator.num_pages > 1 %}
<nav aria-label="Workshop pagination">
  <ul class="pagination justify-content-center">

    {# Go to first page #}
    {% if objects.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1
          {% if request.GET.from_date %}&from_date={{ request.GET.from_date }}{% endif %}
          {% if request.GET.to_date %}&to_date={{ request.GET.to_date }}{% endif %}
          {% if request.GET.state %}&state={{ request.GET.state }}{% endif %}
          {% if request.GET.workshop_type %}&workshop_type={{ request.GET.workshop_type }}{% endif %}
          {% if request.GET.show_workshops %}&show_workshops={{ request.GET.show_workshops }}{% endif %}
          {% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}"
          aria-label="First">
          <i class="fa fa-angle-double-left"></i>
        </a>
      </li>
    {% endif %}

    {# Previous button #}
    {% if objects.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ objects.previous_page_number }}
          {% if request.GET.from_date %}&from_date={{ request.GET.from_date }}{% endif %}
          {% if request.GET.to_date %}&to_date={{ request.GET.to_date }}{% endif %}
          {% if request.GET.state %}&state={{ request.GET.state }}{% endif %}
          {% if request.GET.workshop_type %}&workshop_type={{ request.GET.workshop_type }}{% endif %}
          {% if request.GET.show_workshops %}&show_workshops={{ request.GET.show_workshops }}{% endif %}
          {% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}"
          aria-label="Previous">
          <i class="fa fa-angle-left"></i>
        </a>
      </li>
    {% endif %}

    {# Page numbers with window of +/- 3 pages #}
    {% for n in objects.paginator.page_range %}
      {% if n == objects.number %}
        <li class="page-item active">
          <span class="page-link">{{ n }} <span class="sr-only">(current)</span></span>
        </li>
      {% elif n >= objects.number|add:'-3' and n <= objects.number|add:'3' %}
        <li class="page-item">
          <a class="page-link" href="?page={{ n }}
            {% if request.GET.from_date %}&from_date={{ request.GET.from_date }}{% endif %}
            {% if request.GET.to_date %}&to_date={{ request.GET.to_date }}{% endif %}
            {% if request.GET.state %}&state={{ request.GET.state }}{% endif %}
            {% if request.GET.workshop_type %}&workshop_type={{ request.GET.workshop_type }}{% endif %}
            {% if request.GET.show_workshops %}&show_workshops={{ request.GET.show_workshops }}{% endif %}
            {% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">{{ n }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {# Next button #}
    {% if objects.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ objects.next_page_number }}
          {% if request.GET.from_date %}&from_date={{ request.GET.from_date }}{% endif %}
          {% if request.GET.to_date %}&to_date={{ request.GET.to_date }}{% endif %}
          {% if request.GET.state %}&state={{ request.GET.state }}{% endif %}
          {% if request.GET.workshop_type %}&workshop_type={{ request.GET.workshop_type }}{% endif %}
          {% if request.GET.show_workshops %}&show_workshops={{ request.GET.show_workshops }}{% endif %}
          {% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}"
          aria-label="Next">
          <i class="fa fa-angle-right"></i>
        </a>
      </li>
    {% endif %}

    {# Go to last page #}
    {% if objects.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ objects.paginator.num_pages }}
          {% if request.GET.from_date %}&from_date={{ request.GET.from_date }}{% endif %}
          {% if request.GET.to_date %}&to_date={{ request.GET.to_date }}{% endif %}
          {% if request.GET.state %}&state={{ request.GET.state }}{% endif %}
          {% if request.GET.workshop_type %}&workshop_type={{ request.GET.workshop_type }}{% endif %}
          {% if request.GET.show_workshops %}&show_workshops={{ request.GET.show_workshops }}{% endif %}
          {% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}"
          aria-label="Last">
          <i class="fa fa-angle-double-right"></i>
        </a>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
